<!DOCTYPE html>
<html>
<head>
    <title>Real-time Chat</title>
</head>
<body>
    <h1>Real-time Chat</h1>
    <form>
        <label for="user_id">Введите user id: </label>
        <input type="text" id="user_id" required>
        <button type="button" onclick="connectToChat()">Подключиться</button>
    </form>
    <div id="chatbox" style="border: 1px solid #ccc; width: 300px; height: 200px; overflow-y: scroll;"></div>


    <script>
        let socket;
        let user_id;
        const chatbox = document.getElementById("chatbox");

        function connectToChat() {
            user_id = document.getElementById("user_id").value;
            if (user_id) {
                socket = new WebSocket(`ws://127.0.0.1:8010/ws/${user_id}`);
                socket.onmessage = function(event) {
                    chatbox.innerHTML += event.data + "<br>";
                    chatbox.scrollTop = chatbox.scrollHeight;
                };
            }
        }

    </script>
</body>
</html>