REDIS_DSN="redis://redis-cinema:6379/0"
ELASTIC_BASE_URL="http://elastic:9200"

AUTH_BASE_URL="http://auth:8000"
AUTH_LOGIN_REDIRECT_URL="http://127.0.0.1/auth/login"
AUTH_LOGIN_URL="http://auth:8000/login"
AUTH_REFRESH_URL="http://auth:8000/refresh"
AUTH_USERNAME="cinema"
AUTH_PASSWORD="123qweASD"

FASTAPI_HOST="http://cinema-online:8000/"
FASTAPI_PROJECT_NAME="Cinema Service"
FASTAPI_PROJECT_SUMMARY=""
FASTAPI_ROOT_PATH="/cinema"

LOGSTASH_HOST=logstash
LOGSTASH_PORT=5044
LOGSTASH_ENABLE=0

TRACER_ENABLE=0

JAEGER_AGENT_HOST_NAME="jaeger-tracing"
JAEGER_AGENT_PORT=6831

BILLING_USER_SUBSCRIPTION_LIST_URL="http://billing-admin:8000/api/v1/users/user_id/subscriptions/active"