aiohttp==3.9.1
alembic==1.13.1
async-fastapi-jwt-auth==0.6.2
asyncpg==0.29.0
backoff==2.2.1
fastapi==0.100.1
gunicorn==21.2.0
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-instrumentation-fastapi==0.43b0
opentelemetry-exporter-jaeger==1.21.0
pydantic_settings==2.1.0
pydantic[email]==2.5.2
pytest-asyncio==0.23.3
pytest==7.4.4
python-multipart==0.0.6
redis==4.6.0
sqlalchemy[asyncio]==2.0.25
uvicorn==0.24.0
werkzeug==3.0.1
python-logstash==0.4.8
python-logstash-async==3.0.0
starlette-context==0.3.6
sentry-sdk[fastapi,sqlalchemy]==1.40.6