REDIS_DSN="redis://redis-ugc:6379/0"

AUTH_BASE_URL="http://auth:8000"
AUTH_LOGIN_REDIRECT_URL="http://127.0.0.1/auth/login"

FASTAPI_HOST="http://ugc:8000/"
FASTAPI_PROJECT_NAME="UGC Service"
FASTAPI_PROJECT_SUMMARY=""
FASTAPI_ROOT_PATH="/ugc"

MONGODB_DSN="mongodb://mongo-ugc-db:27017"

LOGSTASH_HOST=logstash
LOGSTASH_PORT=5044
LOGSTASH_ENABLE=0

TRACER_ENABLE=0

JAEGER_AGENT_HOST_NAME="jaeger-tracing"
JAEGER_AGENT_PORT=6831